In [1]:
from os import makedirs
from urllib.request import urlretrieve
from pandas import read_csv, Categorical

In [2]:
# Setup folders if they don't exist already
try:
    makedirs("raw-data")
    makedirs("raw-data/iris")
    makedirs("cleaned-data")
    makedirs("cleaned-data/iris")
except OSError as e:
    print("Folders already exist.")

Folders already exist.

In [3]:
# Get the Iris Data Set
urlretrieve("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", "raw-data/iris/iris.data")
urlretrieve("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names", "raw-data/iris/iris.names")

('raw-data/iris/iris.names', <http.client.HTTPMessage at 0x121217ba748>)

In [4]:
# Put data sets into dataframes
df_iris = read_csv("raw-data/iris/iris.data",
                   header=None)
df_iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
def MinMaxScalar(df):
    for col in df.columns:
        maximum = df[col].max()
        minimum = df[col].min()
        for index, val in enumerate(df[col]):
            df[col][index] = (df[col][index] - minimum) / maximum
    return df

In [6]:
df_iris[[0, 1, 2, 3]] = MinMaxScalar(df_iris.copy()[[0, 1, 2, 3]])
df_iris[4] = Categorical(df_iris[4])
df_iris[4] = df_iris[4].cat.codes
df_iris = df_iris.sample(frac=1).reset_index(drop=True)
df_iris

            0         1         2     3  4
0    0.151899  0.500000  0.057971  0.04  0
1    0.253165  0.113636  0.565217  0.56  1
2    0.367089  0.272727  0.724638  0.68  2
3    0.037975  0.272727  0.057971  0.04  0
4    0.303797  0.250000  0.492754  0.52  1
..        ...       ...       ...   ... ..
145  0.265823  0.272727  0.507246  0.56  1
146  0.151899  0.340909  0.043478  0.04  0
147  0.240506  0.318182  0.637681  0.88  2
148  0.329114  0.250000  0.565217  0.56  1
149  0.417722  0.227273  0.811594  0.80  2

[150 rows x 5 columns]

In [7]:
rows = df_iris.shape[0]
df_iris.iloc[0:int(rows*0.7), :].to_json("cleaned-data/iris/iris-training.json", orient='values')
df_iris.iloc[int(rows*0.7):, :].to_json("cleaned-data/iris/iris-testing.json", orient='values')